/* Bluelog Live CSS, Inspired by Pwn Plug theme*/
html, body
{
	margin: 0; 
	padding: 0;
	height: 100%;
	background-color: #000000;
	font-family: arial,veranda,sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	overflow: hidden;
}

/* Used for footer link */
h4, h4 a
{
	position: relative;
	text-align: right;
	margin-top: 4px;
	right: 8px;
	font-size: 16px;
	color: #0160b0;
	text-decoration: none;
}

#header
{
	/* Logo, can change in CSS without touching HTML */
	background-image: url('images/bluelog_type.png');
	background-repeat: no-repeat;
	background-position: 10px;
	height: 70px;
	/* Remove DF logo */
	text-indent: -9999px;
	background-color: #0160b0;
}

/* Whole page goes in here */
#container
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	overflow-y: hidden;

	/* Font, taken Plug UI CSS */
	color: #cccccc;
	-moz-text-shadow: 2px 2px 2px #000000;
	-webkit-text-shadow: 2px 2px 2px #000000;
	text-shadow: 2px 2px 2px #000000;
}
	
/* Banish footer bar to bottom of container object */
#container div.footer
{
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100%;
	background-color: #000000;
}

/* Page content goes here */
#content
{
	height: 80%;
	margin: 10px;
	font-size: 18px;
	background-color: #171717;
	padding: 10px;
	/* This might not be standard compliant */
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 15px;
}

/* Keeps sidebar objects in their own area */
#sidebar {float: left;}
	
/* Generic sidebar container */
#sideobject
{
	/* Set margin against content here, makes Opera happy */
	margin: 10px;
	width: 200px;
}

/*Undecided about the logo
#auxbox2
{
	margin-top: 20px;
	width: 200px;
	height: 80px;
	background-image: url('images/bluelog_logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
*/

#sidebox
{
	background-color: #171717;
	padding: 5px;
	
	/* Round bottoms */
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#sidecontent
{
	margin: 2px;
	font-size: 10px;
}

/* Generic sidebar box header */	 
#boxheader
{
	height: 30px;
	width: 200px;
	line-height: 30px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	background-color: #171717;

	color: #0160b0;
	-moz-text-shadow: 2px 2px 2px #000000;
	-webkit-text-shadow: 2px 2px 2px #000000;
	text-shadow: 2px 2px 2px #000000;
	
	/* Round tops */
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}


/* Table CSS */
th {color: #0160b0; border: 0px;}
tr:nth-child(even) {background-color: #2E2E2E;}
td {text-align: center; font-size: 18px;}
table {border: 0px;}

/* Misc */

.sideitem {text-align:center;margin-bottom:5px; font-size:13px;}

.center {display: block; text-align:center; margin: 0 auto;}

/* EOF */
